body {
	background-color: #343434;
	color: #eaeaea;
	font-family: 'Roboto', serif;
	text-align: center;
}

.choices {
	margin: 3rem 0;
	display: flex;
}

.choices img {
	margin: 0 auto;
	width: 30%;
	padding: 1rem;
	cursor: pointer;
}

.scores {
	display: flex;
	justify-content: center;
}

.scores .player-score,
.computer-score {
	width: 50%;
}

.btn {
	background-color: #eaeaea;
	color: #343434;
	margin: 2rem 1.5rem;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
}
